body{
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
input {
  margin: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
}
label{
  margin: 1em;
  color: #000;
}
button {
  margin-top: 1em;
}
h1 {
  margin: 1em;
  font-size: 70px;
  background-color:#B43232;
  color: white;
  border: 1px solid #B43232;
  padding: 1em;
}