body{
  background-image: url("./10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  background-position: center;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
input {
  margin: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 50px;
}
label{
  margin: 1em;
  color: #000;
  font-family: 'Acme', sans-serif;
  -webkit-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  -moz-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  text-shadow: 2px 2px 2px #020101;
  border-radius: 10px;
 
}
button {
  margin-top: 1em;
  font-family: 'Acme', sans-serif;
}
h1 {
  margin: 1em;
  background-color: #fb0172;
  color: white;
  border: 1px solid ;
  padding: 20px 1em 20px 1em;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  -moz-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px #020101;
}