body{
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  background-position: center;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em 14em;
  flex-wrap: wrap;
  border: 1px solid black;
   border-radius: 15px;
  padding: 2em;
  /* margin-left: 15em;
  margin-right: 15em; */
  background-color: #000000ad;
  -webkit-box-shadow: -1px 1px 11px 0px black;
  -moz-box-shadow: -1px 1px 11px 0px black;
  box-shadow: -1px 1px 11px 0px black;
}




input {
  margin: 1em;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 50px;
}
label{
  margin: 1em;
  color: #000;
  font-family: 'Acme', sans-serif;
  -webkit-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  -moz-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  text-shadow: 2px 2px 2px #020101;
  border-radius: 10px;
 font-size: 10px;
}
button {
  margin-top: 1em;
  font-family: 'Acme', sans-serif;
}
.App h1 {
  margin: 1em;
  background-color: #404751;
  color: white;
  border: 1px solid ;
  padding: 20px 1em 20px 1em;
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  -moz-box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  box-shadow: -1px 1px 11px 0px rgba(247,247,247,1);
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 2px #020101;
}
@media screen and (max-width: 800px) {
  .App{
    margin: 3em;
    padding: 0px;
  }
  .App h1{
    font-size: 20px;
  }
  label.btn.btn-info {
    font-size: 10px;
  }
  input.btn.btn-outline-light {
    font-size: 10px;
  }
  button.btn.btn-outline-warning {
    font-size: 10px;
  }
}